.section.grid
  %a{:name=>"speakers"}
    %h2 Who
  .unit.one-of-two
    .pic
      %img{:src=>"/images/speakers/hamptoncatlin.jpg"}
    %a{:name=>"hampton"}
      %h3
        Hampton
        %br
        Catlin
    .bio
      Hampton is the creator of Sass and is super-excited to host Camp Sass. He thinks he's pretty funny and will regale all atendees with his jokes. He wrote this in the third person, which is kinda weird. He's also the creator of #{link_to "Haml", "http://haml.info/", :target=>"_blank"}, Tritium, and Wikipedia Mobile. He's the co-founder of Rarebit, who are currently working on making an awesome dictionary app that he'd love to talk to you about.
  .unit.one-of-two
    .pic
      %img{:src=>"/images/speakers/jina-bolton.jpg"}
    %a{:name=>"jina"}
      %h3
        Jina
        %br
        Bolton
    .bio
      Jina enjoys creating beautiful user experiences. She is a Senior Product Designer with Salesforce UX. Previously, Jina has worked with rad companies including Apple, Engine Yard, and Crush + Lovely. She also coauthored 2 books, Fancy Form Design and The Art & Science of CSS. Jina organizes the San Francisco Sass meet up, The Mixin, and she leads Team Sass Design, an open source task force that redesigned the Sass brand and website. She has a side project, Art in My Coffee, a curated gallery of coffee art.
  .unit.one-of-two
    .pic
      %img{:src=>"/images/speakers/bermon-painter.jpg"}
    %a{:name=>"bermon"}
      %h3
        Bermon
        %br
        Painter
    .bio
      Bermon is the organizer of various community groups for user experience designers and front-end developers, and the organizer of Blend Conference, a 3-day multi-track event for user experience strategists, designers and developers. He also leads the user experience team for Cardinal Solutions' Charlotte office where he consults with large enterprise clients on interesting problems across user experience, design and front-end development.
  .unit.one-of-two
    .pic
      %img{:src=>"/images/speakers/una.jpeg"}
    %a{:name=>"una"}
      %h3
        Una
        %br
        Kravets
    .bio
      Una (pronounced you-na, like unicorn, or Unicron for you Transformers fans) is a front end developer with a design degree, though she spent most of her weekends in college at hackathons. Currently, she's working on the Watson team at the IBM Design studio in Austin, Texas. She co-founded both the DC Sass Meetup (#{link_to "SassyDC", "http://sassydc.github.io/"}) and #{link_to "ATXSass", "http://atxsass.com/"} Meetup. As a member of the DesignOpen team, she has also been working to foster designer participation in the open source community. She's a performance nerd, audiobook junkie, and an all-around crafty lady.

  .unit.one-of-two
    .pic
      %img{:src=>"/images/speakers/micah.jpg"}
    %a{:name=>"micah"}
      %h3
        Micah
        %br
        Godbolt
    .bio
      Front-end Architect and speaker at worldwide open source events, Micah is highly involved in teaching and training new developers, and pushing the limits of his own craft. He founded and leads the #{link_to "PDX Sass", "https://twitter.com/pdxsass"} meet-up group and publishes a weekly video blog series called #{link_to "Sass Bites", "https://www.youtube.com/user/sassbites"}.

  / .unit.one-of-two
  /   .pic
  /     %img{:src=>"/images/blankphoto.gif"}
  /   %h3 There's more to come!
  /   .bio
  /     The #{link_to "call for proposals", "https://docs.google.com/forms/d/1p2QKzS2lZglNGugrjhSgzWLaM9we5DqoC5pdAjKn0hc/viewform"} is still open – so please submit your own talk and you could be presenting along with our current stellar set of speakers!
