.section.grid
  %a{:name=>"speakers"}
    %h2 Who
  .unit.one-of-two
    .pic
      %img{:src=>"images/speakers/hamptoncatlin.jpg"}
    %h3 Host: Hampton Catlin
    .bio
      Hampton is the creator of Sass. He also thinks he's pretty funny. He wrote this in the third person. He's the CTO of Moovweb and also the creator of Haml, Tritium, and Wikipedia Mobile.
  .unit.one-of-two
    .pic
      %img{:src=>"images/speakers/chriseppstein.jpg"}
    %h3 Keynote: Chris Eppstein
    .bio
      Chris is the creator of #{link_to "Compass", "http://compass-style.org", :target=>"_blank"}, and is a Sass Core Team Member and Chief Instigator. Chris Eppstein is an open source hacker at LinkedIn, and probably the nicest person you'll ever meet. Seriously. So freaking nice.
  .unit.one-of-two
    .pic
      %img{:src=>"images/speakers/claudinasarahe.jpeg"}
    %h3 Claudina Sarahe
    .bio
      Claudina is a front-end developer at Oddbird and Radical. She's also one of the organizers of SassConf and is one of those people that everyone wishes they could be friends with. She's that cool.
  .unit.one-of-two
    .pic
      %img{:src=>"images/speakers/smithschwartz.jpg"}
    %h3 Smith Schwartz
    .bio
      Smith started her career in the world of musuem experience design in Chicago. Then she got bit by the front-end bug and now travels the world, freelancing and building awesome stuff. She gives fantastic advice and is currently being sucked into the technical vortex called San Francisco.
  .unit.one-of-two
    .pic
      %img{:src=>"images/speakers/aaronleung.png"}
    %h3 Aaron Leung
    .bio
      Aaron is the maintainer of #{link_to "LibSass", "http://libsass.org/",   :target=>"_blank"}, the C++ implementation of Sass. He'll be talking   about upcoming features in this implementation. In his spare time he is learning Norwegian.
  .unit.one-of-two
    .pic
      %img{:src=>"images/speakers/divyamanian.jpeg"}
    %h3 Divya Manian
    .bio
      Divya is the goddess of new CSS features and a product manager at Adobe. She is also known for #{link_to "HTML5 Please", "http://html5please.com/", :target=>"_blank"}, #{link_to "HTML5 Boilerplate", "http://html5boilerplate.com/", :target=>"_blank"}, #{link_to "w3 Fools", "http://www.w3fools.com/", :target=>"_blank"}, and #{link_to "Move the Web Forward", "http://movethewebforward.org/", :target=>"_blank"}.
  .unit.one-of-two
    .pic
      %img{:src=>"images/speakers/dalesande.png"}
    %h3 Dale Sande
    .bio
      Dale is a UX designer who started the first ever Sass Meetup in Seattle. A true Sass evangelist, he also runs the SassCast podcast and created #{link_to "SassMeister", "http://sassmeister.com/", :target=>"_blank"}.
  .unit.one-of-two
    .pic
      %img{:src=>"images/speakers/ericsuzanne.png"}
    %h3 Eric M. Suzanne
    .bio
      Eric is an artist and experience designer who created the exemplary Sass library #{link_to "Susy", "http://susy.oddbird.net/", :target=>"_blank"}. He is a partner at Oddbird.net and regularly contributes to Compass.
  .unit.one-of-two
    .pic
      %img{:src=>"images/blankphoto.gif"}
    %h3 There's more to come!
    .bio
      The #{link_to "call for proposals", "https://docs.google.com/forms/d/1p2QKzS2lZglNGugrjhSgzWLaM9we5DqoC5pdAjKn0hc/viewform"} is still open – so please submit your own talk and you could be presenting along with our current stellar set of speakers!

