=partial "index_header"


.panel.thankyou
  %p
    Thank you, thank you, thank you!

  %p
    Camp Sass was a blast. We had so much fun meeting everyone and learning from our great speakers. This tweet from Hampton sums it up best:

  %blockquote{class: "twitter-tweet", lang: "en"}
    %p
      This year's #{link_to "@CampSass", "https://twitter.com/CampSass"} was everything I could have hoped for. Intimate, friendly, and educational. Met so many great people!
    &mdash; Hampton (@hcatlin) #{link_to "April 5, 2015", "https://twitter.com/hcatlin/status/584695869498335233"}
  %script{async: "async", src: "//platform.twitter.com/widgets.js", charset: "utf-8"}

  %p
    Especially, thank you to #{link_to "9Labs", "http://9labs.io/"} and Jay, who helped put the conference together. Atlanta was exceedingly welcoming and we thoroughly enjoyed experiencing the city.
  %p
    Can't get enough Sass? Check out #{link_to "SassConf", "http://sassconf.com/"}, coming up in Fall in Austin. Or, to get updates about Camp Sass, follow us on #{link_to "twitter", "https://twitter.com/campsass"}.

  %p – Hampton and Michael
